form{
    animation-duration: 3s;
    animation-name: slidein;
    background-color: pink;
    width: 300px;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
  
.add{
    width: 60px;
    text-align: center;
}
.add:hover{
    background-color: rgb(195, 247, 8);
    border-radius: 10px;
    border: solid 1px black;
}
p{
    color: rgb(8, 8, 8);
}